<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:te="http://www.seasar.org/teeda/extension" xml:lang="ja"
	lang="ja"
>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>register</title>
<script type="text/javascript" src="../js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="../js/register.js"></script>
<link rel="stylesheet" type="text/css" href="../css/register.css" />
</head>
<body>
	<h1>Welcome to Register Page</h1>
	<form id="Form">
		<table>
			<tr>
				<td>Email</td>
				<td><input type="text" id="email" /></td>
				<td><span id="emailMessage" class="message" /></td>
			</tr>

			<tr>
				<td>Password</td>
				<td><input type="password" id="password" /></td>
				<td><span id="passwordMessage" class="message" /></td>
			</tr>

			<tr>
				<td>Confirm Password</td>
				<td><input type="password" id="confirmPassword" /></td>
				<td><span id="confirmPasswordMessage" class="message" /></td>
			</tr>

			<tr>
				<td></td>
				<td><input type="submit" value="Register" id="doRegister" /></td>
				<td><span id="registerMessage" class="message" /></td>
			</tr>
		</table>

	</form>
</body>
</html>