<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:te="http://www.seasar.org/teeda/extension" xml:lang="ja"
	lang="ja"
>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Javascript</title>
<script type="text/javascript" src="../js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="../js/tmp.js"></script>

<link rel="stylesheet" type="text/css" href="../css/assess.css" />
</head>
<body>
	<div>
		<h1>Welcome to Login System!</h1>
		<form action="http://www.baidu.com/">
			<table>
				<tr>
					<td>Email</td>
					<td><input type="text" id="email" /></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input type="password" id="password" /></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Log in" /></td>
				</tr>
			</table>
		</form>
	</div>

	<div>		
		<div id="firstName">firstName</div>
		<div id="familyName">familyName</div>
		<div>
			<button type="button" onclick="loadXMLDoc()">Change Content</button>
		</div>
	</div>
</body>
</html>